{% extends "layout.html" %}

{% block title %}
    Flood Simulator
{% endblock %}

{% block main %}
        <!-- leaflet map container -->
        <div id="map" style="width:100%;height:700px;"></div>
        <!-- dropdown list -->
        <div id="floating-dropdown"><div id="dd" class="wrapper-dropdown-5" tabindex="1"><img src="{{ url_for('static',filename='img/apple-touch-icon.png')}}" height="30"  align="top" style="padding-top:10px;" >
            <select class="wrapper-dropdown-5" id="basemaps" ></select> 
            </div>
        </div>
        <div class="control-center" id="centermap" title = 'Click to recenter the map'>Center Map</div>
        
        <!-- Simulate flood -->
        <div class="floating-elev" title="Enter flood levels in meters">
            <div class="elev-container">
                <h3><i class="fa-solid fa-water"></i> Simulate Flood Level</h3>
                <div id="setElev" class="field-container" >  
                    <input class="form-input" title="Enter flood levels in meters" autocomplete="off" autofocus type="text" id="elev" value="0" />
                </div>
                <input type="button" onclick="setElev(document.getElementById('elev').value);" value="Set"/>
              </div>
        </div>
        
        <!-- floating form for AMISAFE -->
        <div class="floating-contact-form">
            <div class="form-container">
              <h3>Enter Location</h3>
              <form action="/amisafe" method="post">
                <div class="field-container">
                    <i class="fa-solid fa-location-crosshairs"></i>
                  <input class="form-input" autocomplete="off" id="amisafe" title="Enter coordinates (lat, lon) in degrees" autofocus name="coord" value="19.090866, 72.831018" type="text">
                </div>
                <!-- <button style="width:100px;" type="submit">Am I Safe</button> -->
                <input type="submit" value="Am I Safe" />
              </form>
            </div>
      
            <div class="contact-icon" title="Check your location for your flood risk">
                <i class="fa-solid fa-shield-heart"></i>
                <h3>Am I Safe</h3>
            </div>
                
          </div>
          <!-- daterange picker -->
          <div id="floating-date-range-picker">
            <i class="fa-regular fa-calendar"></i><input id="daterange" type="text" name="daterange" title="Select date range to filter crowd sourced photos" value="07/14/2023 - 07/15/2023" />
          </div>

          <script src="{{ url_for('static',filename='js/floating-form.js')}}"></script>
        
        

{% endblock %}          

{% block javascript %}
      <script>
        (function() {
            //drop down list
            var elm = document.getElementById('basemaps'),
                df = document.createDocumentFragment();
            // var options_list = ['OpenStreetMap',"OpenTopoMap",'Mumbai Population Density',"Crowd-Sourced Photos",'Land use','Mumbai vulnerability map','Land subsidence','Topography','Road network map','Historical flood map','Global vulnerability map'];
            var options_list = ['Basemap','Population density','Land use','Land subsidence','Topography','2005 Mumbai flood',"Crowd-Sourced Photos",'Flood shelters','Vulnerability index', 'Vulnerability classification'];
            for (var j = 0; j < options_list.length; j++){
                var option = document.createElement('option');
                option.value = options_list[j];
                option.appendChild(document.createTextNode(options_list[j]));
                df.appendChild(option);
            }
            
            elm.appendChild(df);
        }());

        var basemap;
        document
            .querySelector('#basemaps')
            .addEventListener('change', function (e) {
                
                // var basemap = e.target.value;
                basemap = e.target.value;
                setBasemap(basemap);
                console.log('basemap:', basemap);
                updateLegend(basemap);
                toggleDateTimePicker(basemap);
            });

        // date range picker
        var flooded_results = JSON.parse('{{flooded_results | tojson}}');
        let crowd_sourced_photos = [];
        var start_date = Date.parse("1 Jan 1800"); //in ms
        var end_date = Date.parse("31 Dec 2050"); // in ms

        $(function() {
              $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                showDropdowns: true
              }, function(start, end, label) {
                start_date = start;
                end_date = end;
                console.log("A new date selection was made: " + start_date + ' to ' + end_date);
                // crowd_sourced_photos = []; //clear all entries and filter again
                
                if (basemap === 'Crowd-Sourced Photos'){
                    //clear all entries and filter again
                    if (crowd_sourced_photos.length > 1) {
                        for (var i = 0; i < crowd_sourced_photos.length; i++) {
                            map.removeLayer(crowd_sourced_photos[i]);
                        }
                        crowd_sourced_photos = [];
                        // filter and add to list again
                        filterFloodImages(flooded_results, start_date, end_date);
                        
                    }
                    //add back from list
                    for (var i = 0; i < crowd_sourced_photos.length; i++){
                        var im = crowd_sourced_photos[i];
                        im.addTo(map);
                    }
                }
              });
            });
        // disable calendar first
        var dateToggle = document.getElementById('floating-date-range-picker');
        dateToggle.style.display == "none";

        function toggleDateTimePicker(basemap){
            if (basemap === 'Crowd-Sourced Photos') {
                dateToggle.style.display = "block";
            }

            else {
                dateToggle.style.display == "none";
            }  
        };

        function filterFloodImages(flooded_results, start_date, end_date) {
            for (var flood_idx in flooded_results){
                var flood_img = flooded_results[flood_idx]['image']; //icon url
                var flood_exists = flooded_results[flood_idx]['flood'];
                var flood_severity = flooded_results[flood_idx]['flood_severity'];
                var flood_coord = [ flooded_results[flood_idx]['lon'], flooded_results[flood_idx]['lat']];
                let flood_date = Date.parse(flooded_results[flood_idx]['date']);//change to ms
                if ((flood_date >= start_date) && (flood_date<=end_date)){
                    console.log(flood_img);
                    console.log('flood exist:', flood_exists);
                    console.log('flood coord:', flood_coord);
                    console.log('flood severity:', flood_severity);
                    console.log('flood date:',flood_date);
                    
                    if (flood_severity === 'low') {
                        var icon_url = leaflet_color_icon['yellow'];
                    }

                    else if (flood_severity === 'moderate') {
                        var icon_url = leaflet_color_icon['orange'];
                    }

                    else if (flood_severity === 'high'){
                        var icon_url = leaflet_color_icon['red'];
                    }

                    const flood_icon = L.icon({
                        iconUrl: icon_url,
                        iconSize: [25, 41],
                        iconAnchor: [16, 37],
                        popupAnchor: [0, -28]
                    });
                    
                    var geojsonFeature = {
                        "type": "Feature",
                        "properties": {
                            // "name": "Coors Field",
                            // "amenity": "Baseball Stadium",
                            // "popupContent":"<b>Flood:</b> " + flood_exists
                            popupContent: '<img src="{}" height="120px" width="150px"/><br><b>{}</b><br><i class="fa fa-heart" style="font-size:24px;color:red"><i class="fa fa-heart" style="font-size:24px;color:red"><i class="fa fa-heart" style="font-size:24px;color:red"></i>'.format(flood_img, flooded_results[flood_idx]['date'])
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": flood_coord
                        }

                    };

                    const coorsLayer = L.geoJSON(geojsonFeature, {

                        pointToLayer(feature, latlng) {
                            return L.marker(latlng, {icon: flood_icon});
                        },
                        // onEachFeature
                        onEachFeature(feature, layer) {
                            if (feature.properties && feature.properties.popupContent) {
                                layer.bindPopup(feature.properties.popupContent)
                            }
                        }
                        });

                    crowd_sourced_photos.push(coorsLayer);

                }
                
            }
            return crowd_sourced_photos
        };

        var legend_imgs = {
            'Basemap': 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7',
            'Population density': "https://live.staticflickr.com/65535/53037896916_d0535749df_o.png",
            'Land use': "https://live.staticflickr.com/65535/53037319537_59106904dd_o.png",
            'Land subsidence': "https://live.staticflickr.com/65535/53038383823_66e50cd0c5_o.png",
            'Topography': "https://live.staticflickr.com/65535/53037896931_77802e80a5_o.png",
            '2005 Mumbai flood': 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7',
            "Crowd-Sourced Photos": "https://live.staticflickr.com/65535/53043986152_ef879f0f2c_m.jpg",
            'Flood shelters': 'https://live.staticflickr.com/65535/53044842070_752f4dd701_m.jpg',
            'Vulnerability index': "https://live.staticflickr.com/65535/53037319522_c2a141c886_o.png",
            'Vulnerability classification':"https://live.staticflickr.com/65535/53037175697_8545f2a21a_o.png"
        };

        
        var elev = document.getElementById('elev').value;
        var mapCenter = [19.0861289, 72.90870667];
        var mapZoom = 11;

        document.getElementById("centermap").addEventListener('click', function() {
                map.flyTo(mapCenter, mapZoom);
            });

        var lat, lng, initZoom;
        lat = mapCenter[0];
        lng = mapCenter[1];
        initZoom = mapZoom;
            
        // var mapElem = document.getElementById('map');
        var map = L.map('map',
            {
                minZoom: 2,
                maxZoom: 15,
                fullscreenControl: true,
                maxBounds:L.latLngBounds(L.latLng(-90, -180), L.latLng(90, 180)),
                maxBoundsViscosity: 1.0
            });

        map.setView([lat, lng], initZoom);
        
        map.on('click',function(e) {
            document.getElementById("amisafe").value =  Math.round(e.latlng.lat * 1000000) / 1000000 + ',' + Math.round(e.latlng.lng * 1000000) / 1000000;

            L.popup().setContent(e.latlng.lat.toFixed(6) + ', ' + e.latlng.lng.toFixed(6))
                     .setLatLng(e.latlng)
                     .openOn(map);
        });
        
        console.log('amisafe value:',document.getElementById("amisafe").value);
        map.on("zoom", function (e) {
            updateAMISAFE();
        });

        map.on("move", function (e) {
            updateAMISAFE();
        });

        

        var layer = L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}.png').addTo(map);
        var mumbai_popn_density = false; //initialised to undefined by default
        
        let shelter_photos = [];
        var vulnerability_map;

        var fmTileUrl = 'https://www.floodmap.net/getFMTile.ashx?x={x}&y={y}&z={z}&e=';
        var floodLayer = L.tileLayer(fmTileUrl + elev, {
            attribution: '© <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors,<a href="https://www.mapzen.com/rights">Mapzen</a>, <a href = "https://floodmap.net">Floodmap.net</a>, <a href = "https://github.com/akshaykore/mumdata/">Akshay Kore</a>, <a href = "https://doi.org/10.1029/2022GL098477">Wu et al (2022)</a>',
            opacity: 0.5
        });

        map.addLayer(floodLayer);
        // initialise legend container
        var legend_container = L.wmsLegend(legend_imgs['Basemap'],map);

            function setElev(elevS) {
                if (isNaN(elevS)) {
                    alert("Please enter only numeric value!");
                    return;
                }
                elevS = Math.round(elevS);
                document.getElementById("elev").value = elevS;
                elev = elevS;
                //infowindow.close();
                refresh();
            }

            function refresh() {
                floodLayer.setUrl(fmTileUrl + elev);
            }

            function updateAMISAFE(){
                center = map.getCenter();
                document.getElementById("amisafe").value =  Math.round(center.lat * 1000000) / 1000000 + ',' + Math.round(center.lng * 1000000) / 1000000;
            };

        setElev(elev,false);


            function onEachFeature(feature, layer) {
                // does this feature have a property named popupContent?
                if (feature.properties && feature.properties.popupContent) {
                    var lon = parseFloat(feature.geometry.coordinates[0]).toFixed(3);
                    var lat = parseFloat(feature.geometry.coordinates[1]).toFixed(3);
                    console.log(lat,lon);
                    layer.bindPopup(feature.properties.popupContent + "\nlat: {}, lon: {}".format(lat,lon));
                    // layer.bindPopup(feature.properties.popupContent + '\n' + feature.geometry.coordinates);
                }
            }

            // add mumbai population density (2011)
            var mumbai_dict = JSON.parse('{{mumbai_dict | tojson}}');
            // get color depending on population density value
            function getColor(d) {
                return d > 90000 ? '#800026' :
                    d > 50000  ? '#BD0026' :
                    d > 40000  ? '#E31A1C' :
                    d > 30000  ? '#FC4E2A' :
                    d > 20000   ? '#FD8D3C' :
                    d > 10000   ? '#FEB24C' :
                    d > 5000   ? '#FED976' :
                                '#FFEDA0';
            };

            //extend Leaflet to create a GeoJSON layer from a TopoJSON file
            L.TopoJSON = L.GeoJSON.extend({
                addData: function (data) {
                var geojson, key;
                if (data.type === "Topology") {
                    for (key in data.objects) {
                    if (data.objects.hasOwnProperty(key)) {
                        geojson = topojson.feature(data, data.objects[key]);
                        L.GeoJSON.prototype.addData.call(this, geojson);
                    }
                    }
                    return this;
                }
                L.GeoJSON.prototype.addData.call(this, data);
                return this;
                }
            });

            

            L.topoJson = function (data, options) {
                return new L.TopoJSON(data, options);
            };

            //create an empty geojson layer, 
            //create a different style for each individual feature
            //with a style and a popup on click
            var geojson = L.topoJson(null, {
                style: function(feature){
                return {
                    color: "#000",
                    opacity: 1,
                    weight: 1,
                    //fillColor: getColor(feature.properties.density),
                    fillColor: getColor(mumbai_dict[feature.properties.name].TOT_P_DEN),
                    fillOpacity: 0.8
                }
                },
                //The onEachFeature option is a function that gets called on each feature before adding it to a GeoJSON layer. 
                //A common reason to use this option is to attach a popup to features when they are clicked.
                onEachFeature: function(feature, layer) {
                layer.bindPopup('<p><b>'+mumbai_dict[feature.properties.name].Ward_Names+'</b><br>'+mumbai_dict[feature.properties.name].TOT_P_DEN+' people/km<sup>2</sup></p>')
                }
            });//.addTo(map); //TODO: ADD SET BOUNDS TO MAP FOR ZOOM IN, AND EVENT LISTENER
            //   map.fitBounds(geojson.getBounds());
            //fill: #317581;
            //define a function to get and parse geojson from URL
            async function getGeoData(url) {
                let response = await fetch(url);
                let data = await response.json();
                console.log(data)
                return data;
            }

            var leaflet_color_icon = {
                'yellow': "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png",
                'orange': "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-orange.png",
                'red': "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png"
            };

            var shelter_icon_url = "https://live.staticflickr.com/65535/53042953595_4977a9d64d_o.png";
            
            var mumbai_vulnerability_map = {
                'vulnerability_index': {
                    "url": "https://live.staticflickr.com/65535/53031989345_4670c818d6_o.png",
                    "UL": [19.343, 72.672],
                    "LR": [18.832, 73.1697]
                }
            };

            var shelter_list = [{'lat': 19.114259,
                                'lon': 72.839283,
                                'message': 'RT @DevaABC #rainhosts I live near Juhu lane and can accommodate around 4- 5 women! #MumbaiRains'},
                                {'lat': 19.08482,
                                'lon': 72.841307,
                                'message': "RT @hithere If you're stuck near #Khar or #Santacruz West, come over. We have a cat and ice cream. #Rainhosts #MumbaiRain\t"},
                                {'lat': 19.053412,
                                'lon': 72.835699,
                                'message': 'RT @TheABC: If anyone is stuck at Hill Road, you are more than welcome to come over. #Bandra #MumbaiRains #RainHosts'},
                                {'lat': 19.10982,
                                'lon': 72.907446,
                                'message': 'RT @hello249: Anyone stuck in Powai, Kanjurmarg please contact if you want to stay over. #Rainhosts'}];

            function setBasemap(basemap) {
                if (basemap === 'Basemap') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }

                    if (crowd_sourced_photos.length > 1) {
                        for (var i = 0; i < crowd_sourced_photos.length; i++) {
                            map.removeLayer(crowd_sourced_photos[i]);
                        }
                        crowd_sourced_photos = [];
                    }

                    if (shelter_photos.length > 1) {
                        for (var i = 0; i < shelter_photos.length; i++) {
                            map.removeLayer(shelter_photos[i]);
                        }

                        shelter_photos = [];
                    }

                    
                    floodLayer.bringToFront();
                }


                else if (basemap === 'Population density') {
                    
                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }
                    
                    //fetch the geojson and add it to our geojson layer
                    getGeoData('https://gist.githubusercontent.com/mickeykedia/9d9144072c5f637c26995569dd347614/raw/b65134846607235adf4ad6498713deed77d3b4b5/Mumbai_Topojson.topojson').then(data => geojson.addData(data));
                    
                    if (!mumbai_popn_density) {
                        geojson.addTo(map);
                        mumbai_popn_density = true;
                    }
                    
                    // console.log('geojson bounds:',geojson.getBounds());
                    // map.fitBounds(geojson.getBounds());
                    map.flyTo(mapCenter, mapZoom);
                    
                    floodLayer.bringToFront();
                }

                else if (basemap === 'Land use') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }
                    
                    var swlat = 18.878474;//18.877702;
                    var swlong = 72.674303;//72.671814;
                    var nelat = 19.3400180;//19.339653;
                    var nelong = 73.045951;//73.048096;
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    // var urlbase = 'http://akshaykore.github.io/mumdata/layer/';
                    // var imageUrl = urlbase + "all.png";
                    var imageUrl = "https://live.staticflickr.com/65535/53033153700_03d4f79dbc_o.png";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    map.flyTo(mapCenter, mapZoom);
                    // mumbai_landuse = true;
                    
                    floodLayer.bringToFront();
                }

                else if (basemap === 'Crowd-Sourced Photos') {
                    filterFloodImages(flooded_results, start_date, end_date);
                    for (var i = 0; i < crowd_sourced_photos.length; i++){
                        var im = crowd_sourced_photos[i];
                        im.addTo(map);
                        // crowd_sourced_photos.push(coorsLayer);
                    }

                    floodLayer.bringToFront();

                }

                
                else if (basemap === '2005 Mumbai flood') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }
                    
                    var swlat = 18.878474;//18.877702;
                    var swlong = 72.674303;//72.671814;
                    var nelat = 19.3400180;//19.339653;
                    var nelong = 73.045951;//73.048096;
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    // var urlbase = 'http://akshaykore.github.io/mumdata/layer/';
                    // var imageUrl = urlbase + "all.png";
                    var imageUrl = "http://akshaykore.github.io/mumdata/layers/26july2.gif";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    map.flyTo(mapCenter, mapZoom);
                    // mumbai_landuse = true;
                    
                    floodLayer.bringToFront();
                }

                else if (basemap === 'Flood shelters') {
                    
                    const flood_shelters = L.icon({
                            iconUrl: shelter_icon_url,
                            iconSize: [25, 25],
                            iconAnchor: [16, 37],
                            popupAnchor: [0, -28]
                        });

                    for (var i=0; i < shelter_list.length; i++) {
                        const shelter_markers = L.marker([shelter_list[i]['lat'],shelter_list[i]['lon']], {icon: flood_shelters}).addTo(map);
                        shelter_markers.bindPopup(shelter_list[i]['message']).openPopup();
                        shelter_photos.push(shelter_markers);
                    }
                    
                    floodLayer.bringToFront();
                }

                else if (basemap === 'Vulnerability index') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }

                    var swlat = mumbai_vulnerability_map['vulnerability_index']['LR'][0];
                    var swlong = mumbai_vulnerability_map['vulnerability_index']['UL'][1];
                    var nelat = mumbai_vulnerability_map['vulnerability_index']['UL'][0];
                    var nelong = mumbai_vulnerability_map['vulnerability_index']['LR'][1];
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    var imageUrl = "https://live.staticflickr.com/65535/53037585656_aae07f56f1_o.png";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    
                    map.flyTo(mapCenter, mapZoom);
                    
                    floodLayer.bringToFront();
                }

                else if (basemap === 'Vulnerability classification') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }

                    var swlat = mumbai_vulnerability_map['vulnerability_index']['LR'][0];
                    var swlong = mumbai_vulnerability_map['vulnerability_index']['UL'][1];
                    var nelat = mumbai_vulnerability_map['vulnerability_index']['UL'][0];
                    var nelong = mumbai_vulnerability_map['vulnerability_index']['LR'][1];
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    var imageUrl = "https://live.staticflickr.com/65535/53037033252_7a3f233d46_o.png";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    
                    map.flyTo(mapCenter, mapZoom);
                    
                    floodLayer.bringToFront();
                }

                else if (basemap === 'Land subsidence') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }

                    var swlat = mumbai_vulnerability_map['vulnerability_index']['LR'][0];
                    var swlong = mumbai_vulnerability_map['vulnerability_index']['UL'][1];
                    var nelat = mumbai_vulnerability_map['vulnerability_index']['UL'][0];
                    var nelong = mumbai_vulnerability_map['vulnerability_index']['LR'][1];
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    var imageUrl = "https://live.staticflickr.com/65535/53033381678_8465947f43_o.png";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    
                    map.flyTo(mapCenter, mapZoom);
                    
                    floodLayer.bringToFront();
                }

                else if (basemap === 'Topography') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }

                    var swlat = mumbai_vulnerability_map['vulnerability_index']['LR'][0];
                    var swlong = mumbai_vulnerability_map['vulnerability_index']['UL'][1];
                    var nelat = mumbai_vulnerability_map['vulnerability_index']['UL'][0];
                    var nelong = mumbai_vulnerability_map['vulnerability_index']['LR'][1];
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    var imageUrl = "https://live.staticflickr.com/65535/53033381658_152351a299_o.png";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    
                    map.flyTo(mapCenter, mapZoom);

                    floodLayer.bringToFront();
                }

                
            };

        function updateLegend(basemap){
            
            if ((basemap === 'Population density') || (basemap === 'Land use') || (basemap === 'Land subsidence') || (basemap === 'Topography') || (basemap === 'Vulnerability index') || (basemap === 'Vulnerability classification')  || (basemap === 'Flood shelters')  || (basemap === 'Crowd-Sourced Photos')) {
                if (legend_container){
                    map.removeControl(legend_container);
                }
                
                legend_container = L.wmsLegend(legend_imgs[basemap],map);
            }

            else {
                map.removeControl(legend_container);
            }
        };
        
        // var legend = L.control({position: 'topleft'});

        // legend.onAdd = function (map) {

        //     var div = L.DomUtil.create('div', 'info legend');
        //     div.innerHTML = "<img src='{}'>".format(legend_imgs[basemap]);

        //     return div;
        // };

        // legend.addTo(map);


      </script>
      
{% endblock %}