<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Mumbai Data</title>

      <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static',filename='img/icoblack32.ico')}}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.mobile-1.4.5.css')}}">
        <script src="{{ url_for('static',filename='js/jquery.js')}}"></script>
        <script src="{{ url_for('static',filename='js/jquery.mobile-1.4.5.js')}}"></script>
        <script src="{{ url_for('static',filename='js/map.js')}}"></script>
        <!-- Load Leaflet from CDN -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>
        <!--Leaflet Foolscreen -->
        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

      <script src="{{ url_for('static',filename='js/trial.js')}}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='js/dropdown.js')}}"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/UI.css')}}">
        <script type="text/javascript" src="{{ url_for('static',filename='js/UI.js')}}"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dropdown.css')}}">
      <script>
        var h = ($( window ).height());
        $(document).ready(function(){
            $("#map").css({"height" : h, "width" : "100%"});
            });
    </script>
      
      

  </head>
  <body>
        <div id="floating-dropdown"><div id="dd" class="wrapper-dropdown-5" tabindex="1"><img src="{{ url_for('static',filename='img/mumdatafull.svg')}}" height="30"  align="top" style="padding-top:10px;" >
            <select class="wrapper-dropdown-5" id="basemaps" ></select>
            
        </div>
        </div>
        <div class="control-center" id="centermap" title = 'Click to recenter the map'>Center Map</div>

      <script>
        (function() {
            var elm = document.getElementById('basemaps'),
                df = document.createDocumentFragment();
            // var options_list = ['OpenStreetMap',"OpenTopoMap",'Mumbai Population Density',"Crowd-Sourced Photos",'Land use','Mumbai vulnerability map','Land subsidence','Topography','Road network map','Historical flood map','Global vulnerability map'];
            var options_list = ['Basemap','Population density','Land use','Land subsidence','Topography','2005 Mumbai flood',"Crowd-Sourced Photos",'Vulnerability index', 'Vulnerability classification'];
            for (var j = 0; j < options_list.length; j++){
                var option = document.createElement('option');
                option.value = options_list[j];
                option.appendChild(document.createTextNode(options_list[j]));
                df.appendChild(option);
            }
            
            elm.appendChild(df);
        }());

        document
            .querySelector('#basemaps')
            .addEventListener('change', function (e) {
                
                var basemap = e.target.value;
                setBasemap(basemap);
            });

            var lat, lng, initZoom;
            lat = 20;
            lng = -10;
            initZoom = 3;
                
            var mapElem = document.getElementById('map');
            var map = L.map('map',
                {
                    minZoom: 2,
                    maxZoom: 15,
                    fullscreenControl: true,
                    maxBounds:L.latLngBounds(L.latLng(-90, -180), L.latLng(90, 180)),
                    maxBoundsViscosity: 1.0
                });
            map.setView([lat, lng], initZoom);
            var elev = 0;
            var layer = L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}.png').addTo(map);
            var mumbai_popn_density = false; //initialised to undefined by default
            let crowd_sourced_photos = [];
            var vulnerability_map;

            var fmTileUrl = 'https://www.floodmap.net/getFMTile.ashx?x={x}&y={y}&z={z}&e=';
            var floodLayer = L.tileLayer(fmTileUrl + elev, {
                attribution: '© <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors,<a href="https://www.mapzen.com/rights">Mapzen</a>, <a href = "https://floodmap.net">Floodmap.net</a>',
                opacity: 0.5
            });

            map.addLayer(floodLayer);

            function onEachFeature(feature, layer) {
                // does this feature have a property named popupContent?
                if (feature.properties && feature.properties.popupContent) {
                    var lon = parseFloat(feature.geometry.coordinates[0]).toFixed(3);
                    var lat = parseFloat(feature.geometry.coordinates[1]).toFixed(3);
                    console.log(lat,lon);
                    layer.bindPopup(feature.properties.popupContent + "\nlat: {}, lon: {}".format(lat,lon));
                    // layer.bindPopup(feature.properties.popupContent + '\n' + feature.geometry.coordinates);
                }
            }

            // add mumbai population density (2011)
            var mumbai_dict = JSON.parse('{{mumbai_dict | tojson}}');
            // get color depending on population density value
            function getColor(d) {
                return d > 90000 ? '#800026' :
                    d > 50000  ? '#BD0026' :
                    d > 40000  ? '#E31A1C' :
                    d > 30000  ? '#FC4E2A' :
                    d > 20000   ? '#FD8D3C' :
                    d > 10000   ? '#FEB24C' :
                    d > 5000   ? '#FED976' :
                                '#FFEDA0';
            };

            //extend Leaflet to create a GeoJSON layer from a TopoJSON file
            L.TopoJSON = L.GeoJSON.extend({
                addData: function (data) {
                var geojson, key;
                if (data.type === "Topology") {
                    for (key in data.objects) {
                    if (data.objects.hasOwnProperty(key)) {
                        geojson = topojson.feature(data, data.objects[key]);
                        L.GeoJSON.prototype.addData.call(this, geojson);
                    }
                    }
                    return this;
                }
                L.GeoJSON.prototype.addData.call(this, data);
                return this;
                }
            });

            

            L.topoJson = function (data, options) {
                return new L.TopoJSON(data, options);
            };

            //create an empty geojson layer, 
            //create a different style for each individual feature
            //with a style and a popup on click
            var geojson = L.topoJson(null, {
                style: function(feature){
                return {
                    color: "#000",
                    opacity: 1,
                    weight: 1,
                    //fillColor: getColor(feature.properties.density),
                    fillColor: getColor(mumbai_dict[feature.properties.name].TOT_P_DEN),
                    fillOpacity: 0.8
                }
                },
                //The onEachFeature option is a function that gets called on each feature before adding it to a GeoJSON layer. 
                //A common reason to use this option is to attach a popup to features when they are clicked.
                onEachFeature: function(feature, layer) {
                layer.bindPopup('<p><b>'+mumbai_dict[feature.properties.name].Ward_Names+'</b><br>'+mumbai_dict[feature.properties.name].TOT_P_DEN+' people/km<sup>2</sup></p>')
                }
            });//.addTo(map); //TODO: ADD SET BOUNDS TO MAP FOR ZOOM IN, AND EVENT LISTENER
            //   map.fitBounds(geojson.getBounds());
            //fill: #317581;
            //define a function to get and parse geojson from URL
            async function getGeoData(url) {
                let response = await fetch(url);
                let data = await response.json();
                console.log(data)
                return data;
            }

            document.getElementById("centermap").addEventListener('click', function() {
                map.flyTo([19.0861289, 72.90870667], 11);
            });
            

            function setBasemap(basemap) {
                if (basemap === 'Basemap') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }

                    if (crowd_sourced_photos.length > 1) {
                        for (var i = 0; i < crowd_sourced_photos.length; i++) {
                            map.removeLayer(crowd_sourced_photos[i]);
                        }
                        crowd_sourced_photos = [];
                    }

                    
                    floodLayer.bringToFront();
                }


                else if (basemap === 'Population density') {
                    
                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }
                    
                    //fetch the geojson and add it to our geojson layer
                    getGeoData('https://gist.githubusercontent.com/mickeykedia/9d9144072c5f637c26995569dd347614/raw/b65134846607235adf4ad6498713deed77d3b4b5/Mumbai_Topojson.topojson').then(data => geojson.addData(data));
                    
                    if (!mumbai_popn_density) {
                        geojson.addTo(map);
                        mumbai_popn_density = true;
                    }
                    
                    // console.log('geojson bounds:',geojson.getBounds());
                    // map.fitBounds(geojson.getBounds());
                    map.flyTo([19.102, 72.85], 11);
                    
                    floodLayer.bringToFront();
                }

                else if (basemap === 'Land use') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }
                    
                    var swlat = 18.878474;//18.877702;
                    var swlong = 72.674303;//72.671814;
                    var nelat = 19.3400180;//19.339653;
                    var nelong = 73.045951;//73.048096;
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    // var urlbase = 'http://akshaykore.github.io/mumdata/layer/';
                    // var imageUrl = urlbase + "all.png";
                    var imageUrl = "https://live.staticflickr.com/65535/53033153700_03d4f79dbc_o.png";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    map.flyTo([19.102, 72.85], 11);
                    // mumbai_landuse = true;

                    floodLayer.bringToFront();
                }

                else if (basemap === 'Crowd-Sourced Photos') {
                    
                    var flooded_results= JSON.parse('{{flooded_results | tojson}}');
                    
                    console.log('flooded results:', flooded_results);
                    
                    for (var flood_idx in flooded_results){
                        var flood_img = flooded_results[flood_idx]['image']; //icon url
                        var flood_exists = flooded_results[flood_idx]['flood'];
                        var flood_severity = flooded_results[flood_idx]['flood_severity'];
                        var flood_coord = [ flooded_results[flood_idx]['lon'], flooded_results[flood_idx]['lat']];
                        console.log(flood_img);
                        console.log('flood exist:', flood_exists);
                        console.log('flood coord:', flood_coord);
                        console.log('flood severity:', flood_severity)
                        
                        if (flood_severity === 'low') {
                            var icon_url = leaflet_color_icon['yellow'];
                        }

                        else if (flood_severity === 'medium') {
                            var icon_url = leaflet_color_icon['orange'];
                        }

                        else {
                            var icon_url = leaflet_color_icon['red'];
                        }

                        const flood_icon = L.icon({
                            iconUrl: icon_url,
                            iconSize: [25, 41],
                            iconAnchor: [16, 37],
                            popupAnchor: [0, -28]
                        });
                        
                        var geojsonFeature = {
                            "type": "Feature",
                            "properties": {
                                // "name": "Coors Field",
                                // "amenity": "Baseball Stadium",
                                // "popupContent":"<b>Flood:</b> " + flood_exists
                                popupContent: '<img src="{}" height="120px" width="150px"/>'.format(flood_img)
                            },
                            "geometry": {
                                "type": "Point",
                                "coordinates": flood_coord
                            }
                        };

                        const coorsLayer = L.geoJSON(geojsonFeature, {

                            pointToLayer(feature, latlng) {
                                return L.marker(latlng, {icon: flood_icon});
                            },
                            // onEachFeature
                            onEachFeature(feature, layer) {
                                if (feature.properties && feature.properties.popupContent) {
                                    layer.bindPopup(feature.properties.popupContent)
                                }
                            }
                        }).addTo(map);

                        crowd_sourced_photos.push(coorsLayer);
                    }

                    floodLayer.bringToFront();
                }

                
                else if (basemap === '2005 Mumbai flood') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }
                    
                    var swlat = 18.878474;//18.877702;
                    var swlong = 72.674303;//72.671814;
                    var nelat = 19.3400180;//19.339653;
                    var nelong = 73.045951;//73.048096;
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    // var urlbase = 'http://akshaykore.github.io/mumdata/layer/';
                    // var imageUrl = urlbase + "all.png";
                    var imageUrl = "http://akshaykore.github.io/mumdata/layers/26july2.gif";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    map.flyTo([19.102, 72.85], 11);
                    // mumbai_landuse = true;

                    floodLayer.bringToFront();
                }

                else if (basemap === 'Vulnerability index') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }

                    var swlat = mumbai_vulnerability_map['vulnerability_index']['LR'][0];
                    var swlong = mumbai_vulnerability_map['vulnerability_index']['UL'][1];
                    var nelat = mumbai_vulnerability_map['vulnerability_index']['UL'][0];
                    var nelong = mumbai_vulnerability_map['vulnerability_index']['LR'][1];
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    var imageUrl = "https://live.staticflickr.com/65535/53037585656_aae07f56f1_o.png";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    
                    map.flyTo([19.102, 72.85], 11);

                    floodLayer.bringToFront();
                }

                else if (basemap === 'Vulnerability classification') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }

                    var swlat = mumbai_vulnerability_map['vulnerability_index']['LR'][0];
                    var swlong = mumbai_vulnerability_map['vulnerability_index']['UL'][1];
                    var nelat = mumbai_vulnerability_map['vulnerability_index']['UL'][0];
                    var nelong = mumbai_vulnerability_map['vulnerability_index']['LR'][1];
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    var imageUrl = "https://live.staticflickr.com/65535/53037033252_7a3f233d46_o.png";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    
                    map.flyTo([19.102, 72.85], 11);

                    floodLayer.bringToFront();
                }

                else if (basemap === 'Land subsidence') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }

                    var swlat = mumbai_vulnerability_map['vulnerability_index']['LR'][0];
                    var swlong = mumbai_vulnerability_map['vulnerability_index']['UL'][1];
                    var nelat = mumbai_vulnerability_map['vulnerability_index']['UL'][0];
                    var nelong = mumbai_vulnerability_map['vulnerability_index']['LR'][1];
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    var imageUrl = "https://live.staticflickr.com/65535/53033381678_8465947f43_o.png";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    
                    map.flyTo([19.102, 72.85], 11);

                    floodLayer.bringToFront();
                }

                else if (basemap === 'Topography') {
                    if (mumbai_popn_density) {
                        map.removeLayer(geojson);
                        mumbai_popn_density = false;
                    }

                    if (vulnerability_map) {
                        map.removeLayer(vulnerability_map);
                    }

                    var swlat = mumbai_vulnerability_map['vulnerability_index']['LR'][0];
                    var swlong = mumbai_vulnerability_map['vulnerability_index']['UL'][1];
                    var nelat = mumbai_vulnerability_map['vulnerability_index']['UL'][0];
                    var nelong = mumbai_vulnerability_map['vulnerability_index']['LR'][1];
                    const latLngBounds = L.latLngBounds([[nelat, nelong], [swlat, swlong]]);
                    var imageUrl = "https://live.staticflickr.com/65535/53033381658_152351a299_o.png";
                    vulnerability_map = L.imageOverlay(imageUrl, latLngBounds).addTo(map);
                    
                    map.flyTo([19.102, 72.85], 11);

                    floodLayer.bringToFront();
                }

                
            };

      </script>
      

<!-- <a href="#myPanel" id = "logoheader" ><div id="innertext">Center Map</div></a> -->
        
    <!------------------------Side Panel----------------->
        <div data-role="panel" id="myPanel" data-display="overlay" data-position="right" data-dismissible="false">    
    <!-- button to close the panel-->
        <a href="#myPanel" id = "logoheader"><div id="innertext"><i class="fa fa-arrow-right"></i>&nbsp; Close Panel</div></a>
        <a href="#mapdisplayoptionspanel"><div id="mapdisplaytext" title="Change color of the Basemap">Base Map Settings &nbsp; <i class="fa fa-cog"></i></div></a>    
        
        <!------------------------layers----------------->
            <!--input type="button" onclick="reload()"-->
            <div id="layer">
            
            </div>
        <!------------------------popup button----------------->    
            <div align="center">
                <a href="#datalistpanel" onclick="createlist()"><div id="addbutton"><div id="innertextbutton" title="Add a Data Layer">Add Dataset +</div></div></a>
                
            </div>
            
            
            </div>
      
      <div data-role="panel" id="datalistpanel" data-display="overlay" data-position="right" data-dismissible="false">
          <div id="datalisttitle">Datasets &nbsp; <i class="fa fa-database"></i></div>
                 

          <div id="datalist">
                    
                </div>
  <!-- panel content goes here -->
          <div align="center">
                <a href="#myPanel" data-rel="back" id="createcontrollistbutton" onclick="createcontrollist(); createlist()"><div id="addbuttonpopup"><div id="innertextbutton">Add Selected Dataset +</div></div></a>
                </div> 
</div>
      
      <div data-role="panel" id="mapdisplayoptionspanel" data-display="overlay" data-position="right" data-dismissible="false">
          <div id="mapdisplaytext" ></div>
        <a href="#myPanel" id = "logoheader" title="Go back to main panel"><div id="innertext"><i class="fa fa-arrow-left"></i>&nbsp; Main Panel</div></a>      
        
        


          <!-- <div id="mapdisplaysettings">
              <br>
              <div align="center">
              <div id="addbuttonpopup" onclick="makedefaultstyle();"><div id="innertextbutton">Default &nbsp; <i class="fa fa-wrench"></i></div></div></div>
              <svg width="100%" height="10">
  <rect width="100%" height="1" style="fill:darkgrey;stroke-width:0;stroke:rgb(0,0,0);" />
</svg>
                <div id="mapdispalysettingselement" align="center">
                    <div id="mapdispalysettingselementtext">Saturation</div>
                    <input type="range" name="saturation" min="-100" max="100" value="-100" onchange="changebackgroundsaturation(this.value)">
              </div>
              <div id="mapdispalysettingselement" align="center">
                    <div id="mapdispalysettingselementtext">Lightness</div>
                    <input type="range" name="lightness" min="-100" max="100" value="-30" onchange="changebackgroundlightness(this.value)">
              </div>
              
              
                    
                </div> -->
  <!-- panel content goes here -->
          <div align="center">
                <div onclick="initMap();"><div id="addbuttonpopup"><div id="innertextbutton">Update Map View</div></div></div>
                </div> 
</div>
 
      

        <!------------------------popup ends----------------->
        <div id="floating-panel">
      <!--input type="button" class="buttondisplay" value="1992" onclick="overlay.toggleDOM();"  ></input>
      <input type="button" class="buttondisplay" value="1992" onclick="overlay.toggleDOM();"  ></input-->
    </div>
    
    
    <div id="map"></div>
 
    
      

    <script async defer
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD4IOWm6GGxVNy-75IOt0QnIyEZEIeWVuQ&callback=initMap">
        </script>
  </body>
</html>